<div class ="contents row">
  <div class="jumbotron d-flex ml-2 w-75 h-auto">
    <div class="card mb-1" style="background: url(<%= @tweet.image %>); background-size: cover;">
    </div>
      <div class="more w-50 h-auto">
        <div class="card-body">
          <h5 class="card-title">
            <%= simple_format(@tweet.text) %>
          </h5>
        <p class="card-text">
          <a href="/users/<%= @tweet.user.id %>">
            <span>投稿者</span><%= @tweet.user.nickname %>
          </a>
        </p>
        </div>
        <% if user_signed_in? && current_user.id == @tweet.user_id %>
          <ul class="more_list pl-3">
            <li class="btn btn-primary">
              <%= link_to '編集', "/tweets/#{@tweet.id}/edit",style:"color:white;", method: :get %>
            </li>
            <li class="btn btn-primary">
              <%= link_to '削除', "/tweets/#{@tweet.id}", style:"color:white;",method: :delete %>
            </li>
          </ul>
        <% end %>
      </div>
  </div>
  <div class="container">
    <div class="jumbotron bg-light py-3 mt-4 float-left d-flex">
      <% if user_signed_in? && current_user.id == @tweet.user_id %>
        <%= form_with(url:"/tweets/#{@tweet.id}/comments",locar: true) do |f| %>
          <div class="form-group">
            <%= f.text_area :text,placeholder: "コメントする", name: "text",size: "20x5", style: {cols: 30, rows: 10} %>
          </div>
          <%= f.submit "送信" ,class: 'text-light btn btn-primary btn-lg' %>
        <% end %>
      <% end %>
      <div class="ml-4">
        <div class="comments">
          <h4>＜コメント一覧＞</h4>
          <% if @comments %>
            <% @comments.each do |comment| %>
              <p>
                <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %></strong>
                <%= comment.text %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>